.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222222;
  /* background-image: url(../../img/bg.png); */
  min-width: auto;
  /* background-color: lightblue; */
}

.login form {
  padding: 30px 70px;
} 

.login-form-container {
  border-radius: 15px;
  box-shadow: 0 8px 14px rgba(0, 0, 0, 0.4);
  display: flex;
  text-align: center;
  flex: none;
}

.login-form {
  flex: 1 1 70%;
  padding: 100px 15px;
  background-color: #FFFFFF;
  border-radius: 15px 0 0 15px;
}

.login-overlay {
  border-radius: 0 15px 15px 0;
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 15px;
  background-image: linear-gradient(to bottom right, #FDEB82, #F78FAD);
  color: #FFFFFF;
  overflow: hidden;
}

.login input {
  width: 80%;
  border: none;
  background-color: #EFEFEF;
  padding: 14px 16px;
  margin: 10px 0;
}

.login input:focus {
  border: none;
}

.reset-password {
  text-decoration: none;
  color: #222222;
}

.reset-password:hover {
  color: #222222;
}