/* the contaner for the whole box for searching */
.Search-box-container{
    position:relative;
    /* height:200px; */
    min-height: 200px;
    width: 1200px;
    /* border:solid; */
    border-radius: 11px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    /* background-color: rgb(65, 65, 99,0.85); */
    box-shadow : 0px 0px 15px -5px;
}
/* the container for the search bar inside the search box */
.Search-bar-container{
    /* height:50px; */
    /* border:solid; */
    /* margin-left: -15px; */
    width: 100%;
    /* justify-content: center; */
}

/* The search bar, with some edit on its spacing and display */
.Search-bar{
    width: 100%;
    display: flex;
    align-items: center;
    /* margin-left:-14px; */
    border:none;
    display: flex;
    padding: 0 !important;
}

/* the style of the words type in the search bar */
.Search-bar-container input{
    /* width:950px; */
    height:50px;
    flex-basis: 90%;
    padding-left: 30px;
    font-size:20px;
    background-color: rgb(65, 65, 99, 0.2);
    /* box-shadow : 0px 0px 2px -1px; */
    border-radius: 11px 0 0 0;
    border:none;
}

/* the style and size of the button in the search bar */
.Search-button{
    /* margin-left: 42px; */
    flex: 1;
    height:50px;
    /* width:100px; */
    border: none;
    border-top-right-radius: 11px;
    /* border-bottom-right-radius: 11px; */
    background-color: rgb(65, 65, 99);
    color:aliceblue;
}

/* the container for the price category in the search box */
.Price-container{
    position:relative;
    /* margin-top: -20px; */
    margin-left: 10px;
    font-size: 20px;
    font-weight: 350;
    height:30px;
    /* border:solid; */
    width:80%;
    background-color: rgb(65, 65, 99, 0.2);
    /* border-top-right-radius:11px ;
    border-bottom-right-radius:11px ; */
    border-radius: 11px;
    /* box-shadow : 0px 0px 15px -5px;*/
} 

/* the style of the word "Price:" and its background */
.p-tag{
    background-color: rgb(65, 65, 99);
    color:aliceblue;
    height:30px;
    border-top-left-radius: 11px;
    border-bottom-left-radius: 11px;
    text-align: center;
    /* box-shadow : 0px 0px 15px -5px; */
    
}

/* the spacing for the first choice of price and event category */
.p-choice-1, .c-choice-1{
  /* margin-left:35px; */
  /* margin-right: 5px; */
  margin-top: 3px;
}

/* the spacing for the second choice of price and event category */
.p-choice-2, .c-choice-2{
    margin-left:-30px;
    margin-right: 5px;
    
}

/* the spacing for the third choice of price and event category */
.p-choice-3, .c-choice-3{
    margin-left:-30px;
    margin-right: 5px;
    
}

/* the spacing for the fourth choice of price and event category */
.p-choice-4, .c-choice-4{
    margin-left:-30px;
    margin-right: 5px;
    
}

/* the spacing for the fifth choice of price and event category */
.p-choice-5, .c-choice-5{
    margin-left:-30px;
    margin-right: 5px;
    
}

/* the container for the date category in the search box*/
.Date-container{
    position: relative;
    /* margin-top: -20px; */
    margin-left: 10px;
    font-size: 20px;
    font-weight: 350;
    height:30px;
    /* border:solid; */
    /* width:80%; */
    /* background-color: rgb(65, 65, 99, 0.2); */
    border-top-right-radius:11px ;
    border-bottom-right-radius:11px ;
    /* justify-content: flex-start; */
    display: flex;
    justify-content: space-between !important;
    /* box-shadow : 0px 0px 15px -5px;*/
}

/* the sytle and the background for the word "Date:" */
.d-tag{
    background-color: rgb(65, 65, 99);
    color:aliceblue;
    height:30px;
    line-height: 30px;
    padding: 0 1em;
    border-top-left-radius: 11px;
    border-bottom-left-radius: 11px;
    white-space: nowrap;
    text-align: center;
}

/* the container for datepicker */
.Datepicker-container {
    display: flex;
    align-items: center;
    padding-left: 0;
    
}

/* spacing for datepicker input */
.Datepicker-container input {
    height: 30px;
}

/* the container for event type part in the search box*/
.Category-container{
    position:relative;
    /* margin-top: -20px; */
    margin-left: 10px;
    font-size: 20px;
    font-weight: 350;
    height:30px;
    /* border:solid; */
    width:96%;
    background-color: rgb(65, 65, 99, 0.2);
    /* border-top-right-radius:11px ; */
    border-radius: 11px;
    /* border-bottom-right-radius:11px ; */
    /* box-shadow : 0px 0px 15px -5px;*/
}

/* the style and background for the word "Type: " */
.c-tag{
    background-color: rgb(65, 65, 99);
    text-align: center;
    color:aliceblue;
    height:30px;
    
    border-top-left-radius: 11px;
    border-bottom-left-radius: 11px;
}

/* the spacing for the search results */
.Search-results {
    padding: 0;
    min-width: 1200px;
    width: 1200px;
    margin: 0 auto;
}