.record-container{
    position: relative;
    border-bottom: 1px solid rgba(152, 160, 166, 0.6);
    border-radius: 11px;
    width: 100%;
    box-shadow : 0px 0px 8px -5px;
    background-color: white;
    margin: 10px auto;
    
    color: #282828;
    height: auto;
    list-style: none;
}

.record-title {
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    cursor: pointer;
}

.record-title-icon {
    transition: all 0.3s ease-in-out;
    color: #282828;
}

.record{
    width: 85%;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    overflow: hidden;
    font-weight: 350;
    font-size: 24px;
    font-style: oblique;
}

.record-info{
    height: 0px;
    overflow: hidden;
    background-color: white;
    /* padding: 10px 0; */
    /* margin: 10px auto; */
    transition: all 0.3s ease-in-out;
}

.date, .time, .venue, .organizer{
    font-size: 18px;
    padding-left: 6px;
    font-weight: 300;
    /* border-bottom: solid;
    border-color: gainsboro; */
    box-shadow:0px 0px 7px -5px;
   

    width:450px;
}

.re-description-head{
    padding-left: 6px;
    padding-bottom: 3px;
    font-style: oblique;
    font-weight: 350;
    font-size: 24px;
    border-radius: 11px;
    
}
.description{
    padding-left: 6px;
    font-weight: 300;    
}



