.outer{
    /* background: #f4f4f4; */
    padding:5px;
    width:100%;
    overflow:hidden;
}

.outer > h1 {
    /* text-align: center; */
    width: 95%;
    font-weight: 400;
    letter-spacing: .1rem;
    padding: 3px 0;
    font-size: 26px;
    white-space: nowrap;
    /* text-transform: uppercase; */
    /* border-bottom: 1px solid #282828; */
}

.events{
  /* height: inherit; */
  /* box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4); */
  overflow-y:scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.events::-webkit-scrollbar {
    display: none;
}

/* customize modal */
.custom-modal{
    min-width:70vw;
    padding:0px;
}

.custom-modal h1{
    font-size: 30px;
}

.custom-modal Button{
    margin-right:10px;
    height:60px;
}

.custom-modal Container{
    margin:10px 5px;
}

.custom-modal .title{
    margin: 15px 0px;
    font-size:18px;
    font-style: italic;
}