.record-container{
    position: relative;
    width: 95%;
    box-shadow : 0px 2px 8px -5px;
    background-color: white;
    margin: 10px auto;
    color: #282828;
    height: auto;
    list-style: none;
}

.record-title {
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    cursor: pointer;
    background-color: rgba(200, 162, 200, 0.3);
    transition: all 0.15s ease-in-out;
}

.record-title:hover {
    background-color: rgba(200, 162, 200, 0.6);
    margin-bottom: 10px;
}

.record-title-icon {
    transition: all 0.3s ease-in-out;
    color: #282828;
}

.record{
    width: 85%;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    overflow: hidden;
    font-weight: 350;
    font-size: 18px;
    font-style: oblique;
    transition: all 0.5s ease-in-out;
}

.record-info{
    height: 0px;
    overflow: hidden;
    background-color: white;
    padding: 0px 15px;
    transition: all 0.5s ease-in-out;
}

.date, .time, .venue, .organizer{
    font-size: 16px;
    padding-left: 6px;
    font-weight: 300;
}

.date {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time {
    text-align: right;
    margin-left: auto;
    font-weight: 400 !important;
    font-style: italic;
    padding-right: 8px
}

.re-description-head{
    padding-left: 6px;
    padding-bottom: 3px;
    font-style: oblique;
    font-weight: 350;
    font-size: 20px;
    line-height: 1em;
}

.description{
    padding-left: 6px;
    padding-bottom: 6px;
    font-weight: 300;    
}

.record-container em {
    font-weight: 500;
    font-style: normal;
}

.record-button-group {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

.record-button {
    margin: 0 !important;
    width: 130px;
    /* background-color: #bf0000 !important; */
}

.record-button::before {
}

