.record-container{
    position: relative;
    border-radius: 11px;
    width: 95%;
    /* overflow-x: hidden; */
    box-shadow : 0px 0px 15px -5px;
    background-color: white;
    margin: 8px auto;
    color: #282828;
    /* border: groove; */
    height: auto;
    list-style: none;
}



.record{
    padding: 6px 8px 6px 6px;
    
    font-size: 20px;
    background-color: rgb(217, 83, 79);
    color: #fef0db;
    border: solid;
    border-radius: 11px;
    display:-webkit-box;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    word-break: break-word;
    width:100%;
    text-align: left;
    cursor: pointer;
    height: 50px;
    overflow: hidden;
    font-weight: 300;
}

.record-info{
    height:400px;
    border: solid;
    border-color: #fef0db;
    border-radius: 11px;
    background-color: white;
    
}

.date{
    padding-left: 6px;
    font-weight: 300;
}

.time{
    padding-left: 6px;
    font-weight: 300;
}

.venue{
    padding-left: 6px;
    font-weight: 300;
}

.description-head{
    padding-left: 6px;
    padding-bottom: 3px;
    font-weight: 500;
}

.description{
    padding-left: 6px;
    font-weight: 400;
    
}






