/* the container for the result card */
.SR-card-container{
    cursor:pointer;
    position: relative;
    border-radius: 11px;
    max-width: 450px;
    overflow : hidden;
    box-shadow : 0px 0px 15px -5px;
    background-color: white;
    margin: 20px auto;
    color: #282828;
    /* border: groove; */
    /* height: 470px; */
    transform: scale(1);
    transition: all 0.2s ease-in-out;
}

.SR-card-container:hover {
    transform: scale(1.01);
    box-shadow : 0px 3px 20px -5px; 
}

/* the container for the event image in the result card */
.SR-img-container{
    position: relative;
    overflow: hidden;
    display: grid;
    width: 100%;
    height:200px;
    border: solid;
    border-radius: 11px 11px 0 0;
}

/* the image and some edit on spacing */
.SR-img-container img{
    overflow:hidden;
    width: auto;
    height: 200px;
    margin: auto;
    /* border:solid; */
    /* margin-top: -120px; */
}

/* modify the style on the title of the event in result card */
.SR-title{
    /* border:solid; */
    height:80px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    word-break: break-word;
    font-size: 25px;
    font-style: oblique;
    font-weight: 350;
    margin-left: 10px;
}

/* the container for the event information in result card */
.SR-info-container{
    position:relative;
    font-size: 16px;
    font-weight: 300;
    font-style: oblique;
    margin-left: 10px;
    /* border:solid; */

}

/* modify the style for organizer */
.SR-Organizer{
    /* border:solid; */
    width:80%;
    height:25px;
}

/* modify the style for date */
.SR-Date{
    /* border:solid; */
    width:50%;
    height:25px;
}

/* modify the style for time */
.SR-Time{
    /* border:solid; */
    width:50%;
    height:25px;
}

/* modify the style for venue */
.SR-Venue{
    /* border:solid; */
    width:80%;
    height:40px;
}

/* modify the style and spzcing of the fee */
.SR-fee{
    /* border:solid; */
    position:absolute;
    border-radius: 0 11px 0 0;
    width:70px;
    height:40px;
    right: 0;
    /* margin-left: 84%; */
    padding-top: 4px;
    font-style: oblique;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    background:rgb(72,61,139,0.15);
    
}

/* .SR-Button-Container{
    width:80%;
    height:70px;
    border:solid;
    margin-left: 50px;
    
    
    
} */

/* container for more button, modify on spacing */
.SR-More-Con, .SR-Join-Con{
    /* margin-left:30px; */
    
}

/* container for Join button, modify on spacing */
.SR-Join-Con{
    /* margin-left:20px; */
    /* margin-right: auto; */

}

.SR-Join-Button{
    
}

.SR-card-container .form-button {
    margin: 0;
    width: 92%;
    margin-bottom: 1em;
    text-align: center;
}



