.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
  /* background-color: aqua; */
}
.footer a {
  /* text-align: center; */
  color: #222222;
  border: 3px solid black;
  border-radius: 50%;
  padding: .5em;
  /* font-size: 1em; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.footer a:hover {
  text-decoration: none;
  color: #222222;
}