.footer {
  box-sizing: border-box;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px 0;
  background-color: rgb(65, 65, 99);
  color: aliceblue;
  width: 100%
}

.footer h1{
  font-weight: 300;
  font-size: 30px;
  /* margin-left: -210px; */
  /* align-self: flex-start; */
  /* margin-left: 0; */
}

.footer p{
  font-weight: 300;
  font-style: oblique; 
  margin-top: 10px;
}
.footer a {
  /* text-align: center; */
  /* color: #222222; */
  color:aliceblue;
  /* border: 3px solid black; */
  border-radius: 50%;
  padding: .5em;
  /* font-size: 1em; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  transition-duration: 0.4s;
  animation: linear;
  
}

.footer a:hover {
  text-decoration: none;
  transform: scale(1.05);
  color: rgb(255, 240, 33);
}



