.header {
  display: flex;
  justify-content: flex-end;
}

.header h1 {
  font-size: 3em;
  font-weight: 300;
  letter-spacing: .8rem;
  cursor: pointer;
}

.header-items {
  color: #282828;
  text-decoration: none;
  padding: 1em;
  letter-spacing: .1rem;
  transition: all 0.3s ease-in-out;
}

.header-items:hover {
  /* color: #FFFFFF; */
  color: #282828;
  /* background-color: #000000; */
  box-shadow: 0 3px 2px rgba(109, 225, 149, 0.15);
  transform: translateY(-5px);
  text-decoration: none;
}
