/* CSS for the History component in My Page */
.history--container {
  height: calc(68vh + 77px + 31px);
  padding: 1em;
  transition: all 0.3s ease-in-out;
}

.history--title {
  font-weight: 400;
  font-size: 26px !important;
  letter-spacing: .1rem;
  padding: 3px 0;
  white-space: nowrap;
}

.history--list {
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  height: calc(68vh + 77px + 31px - 55px);
}

.history--list::-webkit-scrollbar {
  display: none;
}

.history--list ul {
  padding: 0;
}