/* CSS for navbar component */
nav ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.nav {
  display: inline-block;
  margin: -15px auto 0;
  padding-bottom: 10px;
  text-align: left;
  z-index: 8;
}

nav a {
  display: block;
  padding: 0 2rem;
  line-height: inherit;
  letter-spacing: .1rem;
  cursor: pointer;
  color: #282828;
}

/* arrow reverse animation */
nav a svg {
  transition: transform 0.3s ease-in-out;
}

nav a:hover {
  color: #282828;
  text-decoration: none;
}

nav .drop:hover svg {
  transform: rotate(180deg);
}

.nav__menu {
  line-height: 45px;
  font-weight: 400;
  text-transform: uppercase;
}
  
.nav__menu-item {
  display: inline-block;
  position: relative;
  border-radius: 10px 10px 0 0;
  box-sizing: border-box;
  margin: 0 3px;
  transition: transform 0.3s ease-in-out;
}

/* nav item hovering animation */
.nav__menu-item:hover {
  text-decoration: none;
  transform: translateY(-5px);
  box-shadow: 4px -4px 8px -4px rgba(0, 0, 0, 0.2), -4px -4px 8px -4px rgba(0, 0, 0, 0.2);
}

.nav__menu-item:hover > .nav__submenu {
  transform: translateY(-5px);
}

.nav__submenu-items:hover {
  text-decoration: none;
  background-color: rgba(166, 168, 179, 0.12);
}

/* dropdown menu */
.nav__submenu {
  font-weight: 300;
  text-transform: none;
  position: absolute;
  width: 100%;
  height: 0;
  background-color: #fff;
  margin-top: 0px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

/* Dropdow Menu animation */
.dropdown-enter, .dropdown-appear, .dropdown-exit-done, .dropdown-exit-active {
  height: 0;
}

.dropdown-enter-active {
  box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, 0.2), -4px 4px 8px -4px rgba(0, 0, 0, 0.2);
  height: 45px;
}

.dropdown-enter-done {
  box-shadow: 4px 6px 10px -4px rgba(0, 0, 0, 0.2), -4px 6px 10px -4px rgba(0, 0, 0, 0.2);
  height: 45px !important;
}