.nav__submenu {
  display: none;
}

.nav__submenu-items:hover {
  display: block;
}

.nav__menu-item:hover  .nav__submenu {
  display: block;
}

nav ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.nav {
  display: inline-block;
  margin: 0;
  text-align: left;
  z-index: 8;
}

nav a {
  display: block;
  padding: 0 16px;
  line-height: inherit;
  cursor: pointer;
}

.nav__menu {
  line-height: 45px;
  font-weight: 700;
  text-transform: uppercase;
}
  
.nav__menu-item {
  display: inline-block;
  position: relative;

}
.nav__menu-item:hover {
  background-color: cyan;
  text-decoration: none;
}

.nav__submenu {
  font-weight: 300;
  text-transform: none;
  display: none;
  position: absolute;
  width: 160px;
  background-color: red;
  margin-top: 0px;
}
