.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-content {
  border: 1px solid #000000;
  border-radius: 10px;
  width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
}