.schedule-container {
  display: grid;
  grid-template-columns: 80px repeat(7, 1fr);
  grid-template-rows: 50px;
  grid-auto-rows: 50px;
}

.timeslots {
  grid-column: 1;
}

.schedule-day-name {
  text-transform: uppercase;
  text-align: center;
  line-height: 50px;
}

.schedule-container > * {
  border: 1px solid black;
}