.App {
  height: 100vh;
  min-width: 1250px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  /* border-radius: 5px; */
  background: #ABABAB;
}

::-webkit-scrollbar-thumb:hover {
  background: #797979;
}